{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if access %}
        <h1>Список сотрудников</h1>

        <div class="employees-header">
            <h2>Всего сотрудников: {{ employees|length }}</h2>
            <a href="{{ url_for('business_add_worker', id=bizz_id) }}">Добавить сотрудника</a>
        </div>

        <table class="employees-table">
            <thead>
            <tr>
                <th>ФИ |</th>
                <th> Должность |</th>
                <th> Зарплата |</th>
                <th> Действия |</th>
            </tr>
            </thead>
            <tbody>
            {% if employees %}
            {% for employee in employees %}
            <tr>
                <td>
                    {{ employee.surname }} {{ employee.name }}
                </td>
                <td>{{ employee.position or 'Не указана' }}</td>
                <td>
                    {% if employee.salary %}
                    {{ employee.salary }} ₽
                    {% else %}
                    Не указана
                    {% endif %}
                </td>
                <td class="actions">
                    <a href="{{ url_for('business_edit_worker', id=employee.id, biz_id=bizz_id) }}" class="edit-btn">Редактировать</a>
                    <a href="{{ url_for('business_delete_worker', id=employee.id, biz_id=bizz_id) }}" class="delete-btn">Удалить</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" class="empty-list">Нет сотрудников</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    {% else %}
        <div>Что-то пошло не так</div>
    {% endif %}
</div>
{% endblock %}
