{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Добро пожаловать, {{ current_user.username }}!</h2>
            <p class="lead">Вы зарегистрированы как <span class="badge badge-primary">владелец бизнеса</span></p>
            
            {% if stats %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Ваша статистика</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h3>{{ stats.business_count }}</h3>
                                    <p class="text-muted">Бизнесов</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Действия</h5>
                </div>
                <div class="card-body">
                    <a href="/business_list" class="btn btn-primary btn-block mb-2">Мои бизнесы</a>
                    <a href="/create_business" class="btn btn-success btn-block mb-2">Создать бизнес</a>
                    <a href="/top" class="btn btn-info btn-block mb-2">Топ бизнесов</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}